/* Load fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Source+Sans+Pro:200,400,600');



@import '../../node_modules/bootstrap/scss/bootstrap';

/* Variables */

:root {
  /*
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  */

  /* Override Variables */
  --primary: #c60063;
  --indigo: #6610f2;
  --gray: #7d7d7d;
  --gray-dark: #404040;
  --font-family-sans-serif: 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-serif: 'Merriweather', 'Times New Roman',
    serif;

  /* Page Variables */

  --font-weight-light: 200 !important;
  --color-medium: #ddd;
  --color-reverse: var(--gray-dark);
  --color-text: var(--gray-dark);
  --color-text-reverse: var(--light);
  --font-family-title: var(--font-family-sans-serif);
  --font-family-text: var(--font-family-serif);
}

body {
  font-family: var(--font-family-text);
  // color: var(--color-text);
  font-weight: 600;
  // background-color: var(--indigo);
  padding-top: 56px;

  .jumbotron {
    background: url("../img/image.jpg") no-repeat top;
  }


.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-secondary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}
.social {
   display: flex;
  .social-icon {
    color: var(--primary);
  }

}
.social-icon {
  color: var(--primary);
  margin-right: 1.5rem;
}
.contact-icon-list {
  font-size: 1.5rem;
  color:var(--primary);
  text-align: center;

 p {
    font-size: .8rem;
    color:var(--secondary);

  }
}


.footer {
  background-color: #7d7d7d;

   a.branding {
    font-size: 1.4rem;
    font-weight:600;
    text-decoration: none;
    color: #7d7d7d;

  }

  ul.footer-list {
    list-style: none;
    padding: 0;
  }
  ul.footer-list li {
  font-size: small;
  padding: .2rem;
  }

}
.copy-right {
  padding: .8rem;
  color: var(--color-medium);
  font-size: small;
  letter-spacing: 2px;
}

}

